html{
    scroll-behavior: smooth;
}
.container{
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1;
  grid-template-rows: auto auto auto auto auto;
  padding: 0px 80px 0px;
  padding-top: 80px;
}
.nav{
    padding: 20px;
    grid-row: 1/ span 1;
  }

  nav ul{
    list-style-type: none;
  }

  nav li{
    display: inline-block;
    padding-right: 20px;
  }

  nav a{
    color: #056644;
    font-weight: bold;
    font-family: optima;
    font-size: 14px;
  }

  nav a:hover {
    color: #05AC72;
  }

  a:hover {
    color: #05AC72;
  }

  .skip a{
    background: #FEFEFE;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  .skip a:focus{
    postion: absolute;
    top: 0px;
    transition: auto;
  }

  .current{
    text-transform: uppercase;
    text-decoration: underline;
  }

  a {
    text-decoration: none;
    color: #056644;
  }

  .home-nav {
    color: #056644;
    background-color: white;
    width: 100%;
    position: sticky;
    top:0;
    display: flex;

    border-bottom-color: green;
    border-bottom: solid;
  }

  header * {
    display: inline;
  }

  body {
    color: #3f3f3e;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    background-image: url("../images/tree_icon.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  h1{
    grid-row: 1/ span 1;
    text-align: center;
    font-size: 30px;
    color: #056644;
    padding: 20px;
  }

  h2{
    font-size: 18px;
    text-align: center;
    color: #05AC72;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: solid;
    border-top: solid;
    border-top-width: 1px;
    border-bottom-width: 3px;
  }

  h3{
    font-size: 16px;
    text-align: center;
    color: #05AC72;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: solid;
    /*border-top: solid;*/
    /*border-top-width: 0.5px;*/
    border-bottom-width: 2px;
  }

  .team-member {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;

  }

  .member-image {
    grid-column: 1;
    width: 200px;
    height: 200px;
  }

  .headshot {
    width: 80%;
    height: 80%;
  }

  .member-desc {
    grid-column: 2;
  }

  .project-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 30% 20%;
    padding: 30px;

  }

  .project-image {
    grid-row: 1;
    padding: 30px;
  }

  .project-image-item {
    width: 100%;
    height: 100%;
  }

  .project-desc {
    grid-row: 2;

    padding-bottom: 30px;
  }

  .project-desc p {
    font-size: 16px;
    text-align: left;
  }

  .tags {
    color: #03B863;
    padding: 5px 0px;
  }

  .project-publications {
    grid-row: 3;
    padding-left: 10px;
    width: 100%;

  }

  .project-publications p {
    font-size: 12px;
  }

  .contact-text-block {
    text-align: center;
  }

  footer{
    background-color: #056644;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

/*desktop view */
  @media all and (min-width: 1100px){
    .container {
      padding: 0px 200px 0px;
      padding-top: 100px;
    }

    .home-nav {
      color: #056644;
      background-color: white;
      width: 100%;
      position: fixed;
      display: flex;

      border-bottom-color: green;
      border-bottom: solid;
    }

    h1{
        position: sticky;
        top: 0;
    }

    h2{
        position: sticky;
        top: 0;
      }


    .team-member {
    width: 450px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    }

    .member-desc {
      width: 200px;
    }

    .member-link {
      font-size: 12px;
    }

    .project-item{
      width: 450px;
      flex-flow: row wrap;
      justify-content: center;
      display: inline-flex;
    }

    .project-image-item{
      width: 400px;
      height: 400px;
    }

    body {
      bottom:0px;
    }

    footer {
      color: white;
      grid-row: 5 / span 1;
      bottom: 0;
      text-align: center;
      width: 100%;
    }
  }
 /*reduce motion */
  @media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: initial;
    }

    .skip a{
      background: #FEFEFE;
      left: 0;
      padding: 6px;
      position: absolute;
      top: -40px;
      -webkit-transition: top 1s auto;
      transition: top 1s auto;
      z-index: 1;
    }

    .skip a:focus{
      top:0;
    }
}
/*styling for social overlays page*/
  .page2_container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 10% 30% 40% 5%;
    bottom: 0;
  }
  .social-nav {
    background-color: #03B863;
    width: 100%;
    position: fixed;
    grid-row: 1/ span 1;
    height: 40px;
  }
  nav {
    font-size: 20px;
    padding-left: 25px;
    padding-top: 5px;

  }
  .social_overlays{
    grid-row: 2/ span 1;
  }

  .text_body{
    grid-row: 3 / span 1;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: center;
    padding-bottom: 20px;
  }
  .video{
    grid-row: 4 / span 1;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;

  }
  footer{
    color: white;
    grid-row: 8 / span 1;
    padding: none;
    bottom: 0;
  }
