html{
    scroll-behavior: smooth;
}
.container{
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1;
  grid-template-rows: auto auto auto auto auto;
  padding: 0px 80px 0px;
  padding-top: 80px;
}
.nav{
    padding: 20px;
    grid-row: 1/ span 1;
  }

  nav ul{
    list-style-type: none;
  }

  nav li{
    display: inline-block;
    padding-right: 20px;
  }

  nav a{
    color: white;
    font-weight: bold;
    font-family: optima;
    font-size: 14px;
  }

  .current{
    text-transform: uppercase;
    text-decoration: underline;
  }

  a {
    text-decoration: none;
    color: #004d00;
  }

  .home-nav {
    background-color: green;
    width: 100%;
    position: fixed;
    display: flex;
  }

  header * {
    display: inline;
  }

  body {
    color: #3f3f3e;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    background-image: url("../images/tree_icon.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  h1{
    grid-row: 1/ span 1;
    text-align: center;
    font-size: 30px;
    color: green;
    padding-bottom: 20px;
  }

  h2{
  text-align: center;
  color: green;
  padding: 24px;
  }

  .team-member {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;

  }

  .member-image {
    grid-column: 1;
    width: 200px;
    height: 200px;
  }

  .headshot {
    width: 80%;
    height: 80%;
  }

  .member-desc {
    grid-column: 2;
  }

  .projects {
    padding-left: 100px;
    padding-right: 100px;
  }

  .publications {
    padding-left: 100px;
    padding-right: 100px;
  }

  .contact {
    padding-left: 100px;
    padding-right: 100px;
  }


  footer{
    background-color: green;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  a:hover{
    text-decoration: darkblue;
  }

/*desktop view */
  @media all and (min-width: 1100px){
    .container {
      padding: 0px 200px 0px;
      padding-top: 100px;
    }
    .team-member {
    width: 450px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    }

    .member-desc {
      width: 200px;
    }

    body {
      bottom:0px;
    }

    footer {
      background-color: green;
      color: white;
      grid-row: 5 / span 1;
      bottom: 0;
      text-align: center;
      width: 100%;
    }
  }
 /*reduce motion */
  @media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
}
/*styling for social overlays page*/
  .page2_container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 10% 30% 40% 5%;
    bottom: 0;
  }
  .social-nav {
    background-color: green;
    width: 100%;
    position: fixed;
    grid-row: 1/ span 1;
    height: 40px;
  }
  nav {
    font-size: 20px;
    padding-left: 25px;
    padding-top: 5px;

  }
  .social_overlays{
    grid-row: 2/ span 1;
  }

  .text_body{
    grid-row: 3 / span 1;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: center;
    padding-bottom: 20px;
  }
  .video{
    grid-row: 4 / span 1;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;

  }
  footer{
    background-color: green;
    color: white;
    grid-row: 8 / span 1;
    padding: none;
    bottom: 0;
  }
